<!DOCTYPE html>
<html>
  <head>
    <title>Zcard3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flash" if flash[:notice] %>
    
  <main class="main-section">
    <%= yield %>
  </main>
    
  </body>
</html>
